@import "tailwindcss";

body {
  @apply bg-gray-900 text-gray-200 antialiased;
  perspective: 1000px;
}

.transform-3d-tilted {
  transform: rotateX(45deg) rotateY(-5deg);
  transform-style: preserve-3d;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.4);
}

/* Add depth to months when tilted */
.transform-3d-tilted > div > div {
  transform-style: preserve-3d;
  transition: transform 1s;
}
